@charset "UTF-8";
/*fontes importadas do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font-a: verdana, Geneva, tahoma, sans-serif;
    --font-b: 'passion one', cursive;
    --font-c: 'sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    background-color: rgb(201, 201, 201);
    font-family: var(--font-a);
}
 header {
    background-color: rgb(11, 74, 76);
    color: rgb(255, 255, 255);
    text-align: center;
 }
 header h1 {
    padding-top: 5vh;
    padding-bottom: 1vh;
    font-variant: small-caps;
    font-size: 8vh;
    text-shadow: black 1px 1px 3px;
    font-family: var(--font-b);
    
 }

 header p {
    padding-top: 1vh;
    padding-bottom: 5vh;
    font-size: 2.1vh;
    text-shadow: black 1px 1px 2px;
 }

 header a, footer a {
    color: rgb(0, 255, 128);
    text-decoration: none;
    font-weight: bolder;
    text-shadow: black 1px 1px 2px;
 }
 header a:hover , footer a:hover {
    text-decoration: wavy underline;
 }
 header a:visited , footer a:visited {
    color: rgba(0, 229, 255, 0.726);
 }

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 6vh;
    padding-left: 4vh;
    font-family: var(--font-c);
    font-size: 2.6vh;
}

 section.comum {
    background-color: rgb(241, 247, 252);
    color: rgb(0, 29, 30);
 }

 section.img {
    background-color: rgb(1, 43, 29);
    color: rgb(241, 247, 252);
 }
 section.img > p {
    display: inline-block;
    max-width: 90vw;
    padding: 2vh;
    background-color: rgba(49, 49, 49, 0.516);
 }
 footer{
    background-color: rgb(11, 74, 76);
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: black 1px 1px 2px;
    padding: 1.5vh 15px;
    font-family: "KGBlankSpaceSketch", sans-serif;
    font-size: 1.5vh;
    
 }